#playingField {
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(0, 89, 0);
}